.contact-title{
    text-align: center;
}

.contact-wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 50px 0;
}

.contact-wrapper img{
    width: 30px;
    height: auto;
}

.contact-box{
    display: flex;
    gap: 40px;
}

form{
    display: flex;
    gap: 100px;
    align-items: center;
}

input[type="text"], input[type="email"]{
    padding: 10px;
    width: 300px;
    background-color: #e9e3e3;
    border-radius: 5px;
    color: #222;
}

input[type="submit"]{
    background-color: #333333;
    color: #e9e3e3;
    border-radius: 20px;
    font-weight: 400;
    font-size: 18px;
    padding: 14px 24px;
    cursor: pointer;
    border: 2px solid greenyellow;
}


input[type="text"]:focus, input[type="email"]:focus{
    padding: 5px 10px;
    width: 300px;
    background-color: rgb(196, 229, 145);
    border-radius: 5px;
}

textarea{
    padding: 10px 20px;
    background-color: #e9e3e3;
    margin-top: 0;
    border-radius: 5px;
    color: #222;
    width: 300px;
}

textarea:focus{
    background-color:  rgb(196, 229, 145);
}

select{
    padding: 10px ;
    width: 300px;
    border-radius: 5px;
}


option{
    background-color: rgb(196, 229, 145);
}



@media screen and (max-width: 1024px) {

    .contact-wrapper{
        display: block;
        text-align: center;
    }

    .contact-box{
        display: block;
    }

    form{
        display: block;
    }
}