@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --Poppins: "Poppins" sans-serif;
  --color: #F0F6FC;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--white);
  align-items: center;
}


nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
    
  .nav-left a{
    padding: 0;
    text-decoration: none;
  }

.nav-left a:hover, .nav-left a:hover:focus{
  background-color: #4444;
  }


  nav a {
    text-decoration: none;
    padding: 24px 32px;
    font-weight: 400;
    color: var(--color);
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .hamburger img {
    width: 55px;
    height: 55px;
  }
  
  nav a:hover, nav a:focus {
    cursor: pointer;
    font-family: var(--Poppins);
    font-style: normal;
    text-decoration: none;
    color: var(--white);
    font-weight: normal;
    font-size: 400;
    background-color: black

  }
  

  .logo{
    width: 100px;
    height: auto;
  }
  

.menu-small{
  display: flex;
  flex-direction: column;
}

.menu-ul-small-overlay {
  background-color: #222;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.menu-ul-small-overlay-box a {
  font-family: var(--Poppins);
  font-size: 28px;
}

.menu-ul-small-overlay-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

@media screen and (max-width: 1170px) {
  .menu-ul-small .hamburger img {
      display: flex;
  }
}


/* Hamburger icon for small screens */
.menu-ul-small-overlay-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}



  @media screen and (max-width: 1024px){

    /* header {
      margin: 30px 30px 0;
  }
   */
    .hamburger{
        display: block;
    }

    .nav-right{
        display: none;
    }
    
  }


