@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --black: black;
  --white: #FFFFFF;
  --green: #198519;
  --dark-green: #1b471b;
  --background-color: #444444;
  --port-contact-btn-color: #333333;
  --greenyellow: greenyellow;
  --Poppins: "Poppins",sans-serif;

}

body {
  font-family: var(--Poppins);
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--white);
}

.app {
  width: 100%;
  align-items: center;
  animation: fade-in 3s cubic-bezier(.39, .575, .565, 1) both;
  display: grid;
  height: 100%;
}

.title {
  color: hsla(0, 0%, 100%, .5);
  font-family: var(--Poppins);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-top: 44px;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3,
h4 {
  margin-bottom: 0;
}

/* ======Home Page============== */
.main-home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 528px;
  width: 1413px;
  gap: 30px;
}

.profile-description {
  width: 100%;
}


#name {
  font-size: 48px;
  font-weight: bold;
}

#profile-picture {
  border-radius: 50%;
  width: 300px;
  height: auto;
  background-color: #444;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.port-contact-btn {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

.portfolio,
.contact {
  background-color: var(--port-contact-btn-color);
  color: var(--white);
  border-radius: 30px;
  font-family: var(--Poppins);
  font-weight: 400;
  font-size: 18px;
  padding: 16px 24px;
  text-decoration: none;
  cursor: pointer;
}

.portfolio {
  border: 2px solid var(--greenyellow);
}

.contact {
  border: 2px solid var(--white);
}

.portfolio:hover,
.contact:hover {
  background-color: var(--black);
}

#page-body {
  max-width: 1413px;
  margin: auto;
  padding-top: 72px;
}

.nav-bar-section li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

.main-section {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* =========PORTFOLIO PAGE================= */
.portfolio-grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.portfolio-grid-list li {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}

.portfolio-grid-list a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.portfolio-grid-list a:hover {
  color: #0056b3;
}

/* =========PORTFOLIO PAGE================= */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {

  .main-home {
    display: block;
    height: 900px;
    margin: 50px 0;
    text-align: center;
    max-width: 100%;
  }

  .port-contact-btn {
    justify-content: center;
  }

  .profile-description p{
    font-size: 16px;
    margin: 10px;
    text-align: center;
    
  }
}



@media (max-width: 600px) {
  .itd-grid-list {
    grid-template-columns: 1fr;
  }

  .portfolio-grid-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .itd-grid-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-grid-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .itd-grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.not-found h1{
  text-align: center;
}

.not-found a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: greenyellow;
  margin-bottom: 20px;
}