.space-exploration {
    color: #82a5ca;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .space-exploration .apply-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    color: #82a5ca;
  }
  
  .space-exploration h1,
  .space-exploration h3 {
    text-align: center;
  }
  
  .space-exploration #title {
    text-shadow: 0px 0px 4px black;
  }
  
  .orbitron-h {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-exploration .expo-line {
    border-bottom: 4px solid white;
  }
  
  .space-exploration #spacex-logo {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .space-exploration .hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
  }
  